body{
    background-color: skyblue;
}

h1{
    border: 1px solid black;
    text-align: center;
    width: 25%;
    margin: auto;
    
}

h2{
    color: purple;
}

input{
    border: 2px solid darkred;
}

div p{
    background-color: lightyellow;
}

#textblock{
    border: 5px, solid, gray;
    width: 800px;
    height: 400px;
}

a{
    color: red;
}

#item1{
    text-decoration: overline;
    color: purple;
}

.exit{
    background-color: blue;
}

a:visited{
    color: blue;
}